
<div id="jumboHomePage" class="jumbotron center">
	<div class="container">
	<h1>One year in Silicon Valley</h1>
	<h3> <i> by NCSV </i></h3> <br>
		<p>
			<%= link_to "Login", new_user_session_path, class: "btn btn-default btn-lg" %>
			<%= link_to "Signup", new_user_registration_path, class: "btn btn-warning btn-lg" %>
		</p>
	</div>	
</div>

<div id="hello" >
